.cart-container {
  padding-top: 80px;
  padding-bottom: 120px;
}

.cart-title {
  font-size: 26px;
  padding-bottom: 20px;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-information {
  border: 1px solid rgba(180, 180, 180, 0.371);
  padding: 15px;
  margin-bottom: 12px;
}

.product-amount {
  width: 70px;
  padding: 0 10px;
  height: 40px;
  margin-top: 10px;
}

.edit-delete-product {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.enter-promo-code-input {
  width: 100%;
  padding: 0 5px;
  height: 45px;
}

.enter-promo-code-btn {
  width: 100%;
  height: 45px;
  color: #3B4047;
  background-color: #bdc1c5;
  border: none;
  font-weight: 700;
}

.price-product-container {
  display: flex;
  justify-content: space-between;
}

.product-price {
  text-align: end;
}

.estimated-price {
  display: flex;
  justify-content: space-between;
}

.buy-product-button {
  display: flex;
  flex-direction: column;
}

.apply-promo-container {
  padding: 20px 0;
}

.estimated-price {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid rgba(79, 79, 79, 0.33);
}

.total-product-price {
  font-size: 16px;
  font-weight: 600;
}

.check-out-btn {
  margin-top: 30px;
  margin-bottom: 20px;
}

.cart-content {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.product-content-name {
  letter-spacing: 1px;
}

.color-wrapper {
  display: flex;
  align-items: center;
}

.price-title {
  padding-top: 80px;
}
