

.best-seller-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
}

.best-seller-product-content {
  display: flex;
  justify-content: center;
}

.best-seller-title {
  text-align: center;
  font-size: 30px;
  margin: 50px 0;
}

.product-image {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.best-seller-edit {
  margin-top: 20px;
}

.best-seller-product-information {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 12px;
}

.detail-product-button {
  color: black;
  text-decoration: none;
  background-color: rgb(200, 200, 200);
  border-radius: 4px;
  padding: 10px 12px;
}

.detail-product-button svg {
  font-size: 12px;
}

.best-seller-price-edit {
  display: flex;
}


.best-sellers-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 340px;
}
