* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.logo {
  height: 25px;
  margin-left: 30px;
}

.nav-items {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 50px;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}
